/*
	Change This To Your Path 'MSSQL11.MSSQLSERVER' (Both Times)
	
	Beware: This Script Will Overwrite Existing 'APP' Database

*/
USE [master]
GO
/****** Object:  Database [APP]    Script Date: 7/13/2015 10:01:41 AM ******/
CREATE DATABASE [APP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'APP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\APP.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'APP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\APP_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [APP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [APP]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 7/13/2015 10:01:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[Invoice_ID] [int] NOT NULL,
	[Pet_ID] [int] NULL,
	[Invoice_Amount] [int] NULL,
	[Invoice_Description] [text] NULL,
	[Invoice_Created] [datetime] NULL,
	[Invoice_Modified] [datetime] NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[Invoice_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pets]    Script Date: 7/13/2015 10:01:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pets](
	[Pet_ID] [int] NOT NULL,
	[Pet_Name] [varchar](32) NULL,
	[Pet_Type] [varchar](32) NULL,
	[Pet_Breed] [varchar](32) NULL,
	[Pet_Age] [int] NULL,
	[User_ID] [int] NULL,
 CONSTRAINT [PK_Pets] PRIMARY KEY CLUSTERED 
(
	[Pet_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Procedures]    Script Date: 7/13/2015 10:01:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Procedures](
	[Procedure_ID] [nchar](10) NOT NULL,
	[Procedure_Name] [nvarchar](64) NULL,
	[Procedure_Description] [text] NULL,
	[Procedure_Cost] [int] NULL,
	[Pet_ID] [int] NULL,
	[Procedure_Date] [datetime] NULL,
 CONSTRAINT [PK_Procedures] PRIMARY KEY CLUSTERED 
(
	[Procedure_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/13/2015 10:01:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[User_ID] [int] NOT NULL,
	[Firstname] [varchar](16) NULL,
	[Lastname] [varchar](16) NULL,
	[Address] [varchar](128) NULL,
	[City] [varchar](64) NULL,
	[State] [varchar](32) NULL,
	[Zip] [int] NULL,
	[Email] [varchar](64) NOT NULL,
	[Password] [varchar](64) NULL,
	[Role] [varchar](16) NULL,
	[Active] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Pets] FOREIGN KEY([Pet_ID])
REFERENCES [dbo].[Pets] ([Pet_ID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Pets]
GO
ALTER TABLE [dbo].[Pets]  WITH CHECK ADD  CONSTRAINT [FK_Pets_Users] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Pets] CHECK CONSTRAINT [FK_Pets_Users]
GO
ALTER TABLE [dbo].[Procedures]  WITH CHECK ADD  CONSTRAINT [FK_Procedures_Pets] FOREIGN KEY([Pet_ID])
REFERENCES [dbo].[Pets] ([Pet_ID])
GO
ALTER TABLE [dbo].[Procedures] CHECK CONSTRAINT [FK_Procedures_Pets]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Pets Belong To Users' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pets', @level2type=N'CONSTRAINT',@level2name=N'FK_Pets_Users'
GO
USE [master]
GO
